<div class="bg-Very-Dark-Black h-full">
  <app-navbar class="">
  </app-navbar>
  <div>
    <div class="h-60 px-28 py-32 bg-Very-Dark-Black" mat-z-elevation>
      <button routerLink="/home" mat-fab extended class="py-[100px]">
        <mat-icon>reply_all</mat-icon>
        Back
      </button> </div>
    <div class="px-40 flex items-center justify-center gap-24 sm:gap-10 flex-wrap sm:mt-1 pb-40"
      *ngFor="let data of dataCountry">
      <div class="">
        <img src="{{data.flags.svg}}" class="w-96 sm:w-96 max-w-sm " alt="">
      </div>
      <div class=" ">
        <h1 class="font-bold !font-nunito  !text-[60px] text-violet-50 ">{{ data.name.common }}</h1>
        <div class=" ">
          <div class="font-bold text-lg text-violet-50 fw-">Native Name: {{data.name.official}}</div>
          <div class="font-bold text-lg text-violet-50">Top level Domain:</div>
        </div>
        <div class=" ">
          <div class="font-bold text-lg text-violet-50">Population: {{data.population}}</div>
          <div class="font-bold text-lg text-violet-50">Currencies: {{text}}</div>
        </div>
        <div class=" ">
          <div class="font-bold text-lg text-violet-50">Region :{{data.region}}</div>
          <div class="font-bold text-lg text-violet-50">Languages: {{data.languages.eng}}</div>
        </div>
        <div class=" ">
          <div class="font-bold text-lg text-violet-50">Sub-region :{{data.subregion}}</div>
        </div>
        <div class=" w-60">
          <div class="font-bold text-lg text-violet-50">Capital :{{data.capital}}</div>
        </div>

        <div class="flex flex-row gap-10 col-span-2">
          <div class="inline-block font-bold text-lg text-violet-50 ">Border countries: </div>
          <div
            class=" shadow-md inline-block font-bold  text-lg bg-slate-500 rounded-[10px] py-5 px-14 cursor-pointer gap-10"
            (click)="hireMe()">


            {{data.borders}}

          </div>
        </div>
      </div>
    </div>
  </div>
