<div class="bg-black h-15 text-white p-4 rounded-none  flex justify-between">
  <mat-form-field>
    <input   matInput placeholder="Search for a country...">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter by Region</mat-label>
    <mat-select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </mat-select>
  </mat-form-field>
</div>
<div class="bg-var(--Dark-Blue)">

</div>
