<div class="bg-Very-Dark-Blue p-4 flex flex-wrap   min-w-6xl h-max">
  <ng-container *ngFor="let card of dataCountry.data">
    <div class="w-60 max-h-80 bg-white text-very-dark-blue mx-2 mb-4 rounded-lg shadow-lg flex flex-wrap">
      <img class="w-full h-40 object-cover rounded-t-lg" [src]="card.flags.svg" alt="Flag Image">
      <div class="p-4 flex flex-col">
        <h2 class="text-very-dark-blue text-lg font-semibold">{{card.name.common}}</h2>
        <p class="text-very-dark-blue"><strong>Capital:</strong>{{card.capital}}</p>
        <p class="text-very-dark-blue"><strong> Population:</strong>{{card.population}}</p>
      </div>
    </div>
  </ng-container>
</div>






<!--  <mat-card-header class="bg-Dark-Gray">
    <mat-card-title>{{card.name.common}}</mat-card-title>
    <mat-card-title>{{card.capital}}</mat-card-title>
    <mat-card-title>{{card.capital}}</mat-card-title>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card-header>
</mat-card> -->
